<ion-header>
  <ion-toolbar>
    <ion-title>
      Recommender
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let i of getSuggestion()">
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>{{ i.title }}</ion-label>
      <ion-button fill="outline" slot="end" (click)="open(i.url)">View</ion-button>
    </ion-item>

    <ion-card-content>
      <p>
        {{ i.descriptoin }}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>