<ion-header>
  <ion-toolbar>
    <ion-title>
      Recommender
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let i of getSuggestion()">
    <ion-item>
      <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
      <img src={{i.img}} alt={{i.title}} style="width: 32px; height: 32xp">
      <ion-label>&nbsp;&nbsp;{{ i.title }}</ion-label>
      <ion-button fill="outline" slot="end" (click)="open(i.url)">View</ion-button>
    </ion-item>

    <ion-card-content>
      <p>
        {{ i.descriptoin }}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>