<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <div>
    <ion-fab>
      <ion-fab-button *ngFor="let mood of moods" (click)="postMood(mood)">
        <ion-icon name="{{mood.icon}}"></ion-icon>
        {{ mood.mood }}
      </ion-fab-button>
    </ion-fab>
  </div> -->

  <div class='circle-container'>
    <a href='#' class='center'>
      <img src='image.jpg'>
    </a>

    <a href='#' class='deg0'>
      <img src='image.jpg'>
    </a>

    <a href='#' class='deg45'>
      <img src='image.jpg'>
    </a>

    <a href='#' class='deg135'>
      <img src='image.jpg'>
    </a>

    <a href='#' class='deg180'>
      <img src='image.jpg'>
    </a>

    <a href='#' class='deg225'>
      <img src='image.jpg'>
    </a>

    <a href='#' class='deg315'>
      <img src='image.jpg'>
    </a>
  </div>
</ion-content>