// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

@import "~bootstrap/scss/bootstrap.scss";

ion-content,
ion-page {
  background-image: linear-gradient(#4c8dff, #3880ff);
}

.bg-class {
  --background: linear-gradient(#3880ff, #4c8dff, 100%) !important;
}

.moods {
  margin: 0 auto;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 100%;

  width: 100%;
  height: auto;

  -webkit-align-content: center;
  align-content: center;
}

.spline {
  // width: 100%;
  height: auto;

  margin: 0 auto;
  // left: -40%;
  top: 100%;
  position: absolute;

  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.full {
  width: 100%;
  height: 100%;
}

.asd {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
